header {
  height: 130vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ======== CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ======== Socials ========== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ======== ME ========== */
.me {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background: #98a7fc;
  overflow: hidden;
  margin-bottom: 2rem;
  margin: auto; /* Adjust the margin to center the circular frame */
}

.me img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ======== SCROLL DOWN ========== */

.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300px;
  font-size: 0.9rem;
}

/* ============= MEDIA QUERIES (Medium Devices) ================== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ============= MEDIA QUERIES (small Devices) ================== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll_down {
    display: none;
  }
}
